@model CIS341_project.Models.Account

@{
    ViewData["Title"] = "The Lunchbox - Admin Panel";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

<h3>Admin Panel</h3>

<p>This is the placeholder view for where the admin and user management functionality will lie (unban users, etc.)</p>

</body>
</html>
