
@{
    ViewData["Title"] = "Account Management";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <br/>
    <p>This is the placeholder view for the user account management section.</a>.</p>
</div>
