
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<p>This is the placeholder view where an admin can create a new blog post by filling out a form.</p>

</body>
</html>
