
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<p>This is the placeholder view where an admin can edit the content and metadata of a currently posted blog post.</p>

</body>
</html>
