
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<p>This is the placeholder page where one can view all blog posts currently posted on the website.</p>

</body>
</html>
