
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<p>This is the placeholder page where a registered user or admin can edit their previously posted comment.</p>

</body>
</html>
