@model CIS341_project.ViewModels.CommentDTO
@{
    ViewData["Title"] = "Edit Comment";
}

<h1>Edit Comment</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" asp-for="CommentId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CommentId" />
            <div class="form-group">
                <label asp-for="CommentContent" class="control-label">Comment</label>
                <input asp-for="CommentContent" class="form-control" />
                <span asp-validation-for="CommentContent" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-info" asp-controller="BlogPost" asp-action="Details" asp-route-id="@Model.BlogPostId">Back to Post</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
