@page
@model CIS341_project.Pages.IndexModel
@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Lunchbox blog!</h1>
    <br />
    <p>This is the home page for the blog that will contain the latest 3-4 blog posts.</p>
</div>