@model IEnumerable<UserRolesViewModel>

@{
    ViewData["Title"] = "Admin Panel";
}
<h2>Users List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@string.Join(", ", user.Roles)</td>
                <td>
                    <a asp-action="Manage" asp-route-userId="@user.UserId" class="btn btn-primary">Manage Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>